@font-face {
  font-family: 한나체;
  src:url(font/BMHANNA_11yrs_ttf.ttf);
}
@font-face {
  font-family: 한나체Air;
  src:url(font/BMHANNAAir_ttf.ttf);
}
html{
  font-family: 한나체;
  background-color: white;
  margin: 0px;
}
.loading{
  position: fixed;
  z-index: 99;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img{
  width: 60%;
}
.loading.hidden{
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
#searchbar{
  font-family: 한나체;
  text-align: center;
  font-size: 1.1rem;
  width: 90%;
  height: 25px;
  border: 2px solid #2CC0BD;
  border-radius: 15px;
  color: gray;
}
#shopcontents{
  list-style-type: none;
  display: inline;
}
input::placeholder{
  font-family: 한나체Air;
  font-size: 1.1rem;
  color: gray;
}
.topsticky{
  position: -webkit-sticky;
  position: sticky;
  top:0px;
  background-color: white;
}
.maintopic{
  display: grid;
  grid-template-columns: 50px 1fr;
  background-color: white;
  color:#2CC0BD;
  height: 50px;
}
.top{
  text-align: center;
  font-size: 1.3rem;
  margin: 0px;
  padding-top:14px;
  padding-bottom: 14px;
}
.search{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.shoplist{
  text-align: left;
}
.list-a{
  text-decoration: none;
  color:white;
}
li{
  text-align: center;
  background-color: #2CC0BD;
  margin: 5px;
  font-size: 1.2rem;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 30px;
}
.backui{
  height: 30px;
  width: 16.6px;
  text-align: center;
  padding-left: 16.7px;
  padding-right: 16.7px;
  padding-top:10px;
  padding-bottom: 10px;

}
